html, body {
	overflow: hidden;
	background: #eee;
/* 	overflow: scroll; */
}

#loginMain {
	margin: 0 auto;
	height: 563px;
	line-height: 563px;
	width: 1120px;
	margin-top: 115px;
	/*	text-align: center;*/
	display: block;
	/*	position: absolute;*/
	z-index: 1;
}

/* .loginBGP2 { */
/* 	/*	position: absolute;*/ */
/* 	z-index: -1; */
/* 	/* 	display:block; */ */
/* 	float: left; */
/* 	margin-left: 50px; */
/* 	margin-top: -200px; */
/* } */

/* .loginBGP1 { */
/* 	/*	position: absolute;*/ */
/* 	z-index: -1; */
/* 	/* 	display:block; */ */
/* 	float: right; */
/* 	margin-right: 50px; */
/* 	margin-top: 50px; */
/* } */

#loginPic {
	width: 600px;
	height: 563px;
	display: block;
	/* 	top:0; */
	float: left;
	/*	margin-left: 21%;*/
	background-repeat: no-repeat;
}

#loginPic img {
	border-radius: 10px 0 0 10px;
	width: 600px;
	height: 563px;
}

#loginInfomation {
	width: 520px;
	height: 563px;
	display: block;
	float: right;
	/* border: 1px solid rosybrown; */
	background-color: white;
	/* 	position: absolute; */
	border-radius: 0 10px 10px 0;
	/* 	top: 0; */
	/* 	left: 67%; */
	margin-top: -563px;
	/* 	margin-left: -260px; */
	/* 	padding: 20px 0; */
}

#loginInfomation h4 {
	color: silver;
	font-size: 20px;
	line-height: 68px;
	margin: 1px auto;
	display: block;
	text-align:center;
}

#loginInfomation p {
	display: block;
	text-align:center;
	margin-top:24px;
}

#loginInfomation .layui-form-label {
	margin-left: 36px;
}

#loginInfomation .layui-input {
	width: 260px;
}

#loginInfomation .requiredField {
	color: red;
	margin-right: 3px;
}

#loginMain canvas {
	/* 	position: absolute; */
	/* 	top: 0; */
	/* 	left: 0; */
	/* 	width: 1950px; */
	/* 	height: inherit; */
	
}

#canvas {
	z-index: 1;
}

#canvasbg {
	z-index: -10;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.6;
}

.Reserved {
	 display: block;
	 text-align: center;
}