@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
       url("../font/SourceHanSansCN-Regular.woff") format("woff"),
       url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
       url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
body{
	font-family: "SourceHanSansCN-Regular";
}

#commodityAboutMain{
	margin: 0 0px;
	min-width: 1170px;
}
#commodityAboutMain .layui-container{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
#commodityAboutMain .layui-row{
	overflow: hidden;
}
.layui-layer-dialog a.layui-layer-btn0{
	background-color: #2196F3;	
	border-color: #2196F3;
}
.providerList{
	border: 6px solid #ECEFF1;
	padding: 20px;
	width: 70%;
	height: 420px;
	float: left;
}
.provideName span{
	margin-right: 250px;
}
.commodityBrand{
	position: absolute;
	border-top: 6px solid #ECEFF1;
	border-right: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
	padding-left: 140px !important;
	margin-left: 68%;
	padding-top: 20px;
	width: 493px;
	height: 420px;

}
.commodityCategory{
	margin-top: 2px;
	border-left: 6px solid #ECEFF1;
	border-right: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
	padding: 20px;
	width: 40%;
	height: 450px;
	float: left;
}
.commodityUnit{
	margin-top: 2px;
	border-right: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
	padding: 20px;
	width: 30%;
	height: 450px;
	float: left;
}
.commodityProeprty{
	margin-top: 2px;
	border-right: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
	padding: 20px;
	width: 28.9%;
	height: 450px;
	
}

.paddingLeft{
	padding-left: 10px;
}
#brand p, #category p, #unit p{
	border-bottom: 1px #eee solid; 
	height: 26px; 
	margin-bottom: 5px;
}
#brand p input, #category p input, #unit p input{
	line-height: 26px; 
	background-color: transparent;
	width: 140px;
}
#proeprty .layui-input-block{
	border-bottom: 1px #eee solid;
	min-height: 24px;
}
#proeprty input{
	float: left;
	border: 0px;
	width: 122px;
}
/* 澶撮儴鏍囬鏍峰紡 */
.title{
	font-size: 14px;
	color: #606060;
	font-weight: bold;
	line-height: 30px;
}
.title span{
	float: left;
	margin-right: 5px;
	color: #000;
}
.title input{
	margin-left: 16px;
	display: inline-block;
	width: 200px;
	height: 30px;
	text-overflow: ellipsis;
}
.commodityButton{
	width:50px;
	height:26px;
	background-color: #2196F3;
	color: #fff;
	border:0px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.commodityUnButton{
	width:50px;
	height:26px;
	background-color: #c0c0c0;
	color: #fff;
	border:0px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.rowSpace{
	height: 26px;
	cursor: pointer;
}
.blackIcon{
	color: #000;
	float: right;
	margin-right: 6px;
	display: none;
	cursor: pointer;
}
.display{
	display: none;
}
/* 渚涘簲鍟嗘牱寮� */
.provide{
	margin-top: 15px;
	margin-left: 15px;
}
.provide .layui-row>div{
	float: left;
}
.provide .layui-row>div:nth-child(1){
	width: 25%;
}
.provide .layui-row>div:nth-child(3){
	width: 33.333333%;
}
.district{
	border: 0px;
	background-color: transparent;
	width: 90px;
	padding-left: 10px;
}
.provide .providerDistrictArea{
	height: 292px; 
	overflow: auto; 
	overflow-x: hidden;
}
.provide .providerDistrictArea input{
	height: 26px;
	line-height: 26px;
}
.provide .providerDistrictArea p span{
	display: inline-block;
	text-indent: 10px;
}
.provide .providerDistrictArea .whiteIcon{
	color: #000;
	float: right;
	margin-right: 10px;
	text-indent: 0px;
}
input.newDistrict{
	border: 0px;
	background-color: transparent; 
	color: #000;
	line-height: 26px;
	width: 100px;
}
.provideDistrictSelect{
	background-color: #E3F2FD; 
	color: #000 !important;
	line-height: 26px;
}
#providerDistrict p:hover{
	background-color: #E3F2FD; 
	color: #000;
	line-height: 26px;
}
#providerDistrict p:hover input{
	color: #000!important;
}
#providerDistrict p span,#providerDistrict p input{
	cursor: pointer;
}
#allDistrict:hover{
	cursor: pointer;
	background-color: #E3F2FD; 
	color: #000;
	line-height: 26px;
}
.provideSelect{ 
	border: 1px solid #d0d0d0;
	color: #000;
	line-height: 26px;
}
#provider p input{
	width: 170px; 
	overflow: hidden; 
	border: 0px; 
	padding-top: 5px; 
	background-color: #fff;
	cursor: pointer;
}
#providerPage div a{
	border: 0px;
}
#providerPage div span em{
	background-color: #fff;
	color: #2196F3;
	font-weight: bold;
}
div.layui-form-item{
	height: 30px;
	margin-bottom: 5px;
}
label.layui-form-label{
	width: 72px;
	height: 24px;
	padding: 0px;
	color: rgb(136, 136, 136);
}
div.layui-form-item div input.layui-input{
	width: 180px;
	margin-left: -30px;
	height: 24px;
	border: 0px;
	padding-bottom: 5px;
}
form#providerMessage div.layui-unselect.layui-form-select{
	width: 60px;
}
form#providerMessage dd.layui-this{
	background-color: #2196F3;
}
form#providerMessage dd{
	height: 24px;
	line-height: 24px;
}
form#providerMessage dl.layui-anim.layui-anim-upbit{
	height: 180px;
}
#providerMessage .layui-form-select dl{
	top: 25px;
	left: -23px;
}
#providerMessage .requiredField{
	color: red;
	margin-right: 3px;
}
.layui-laypage a, .layui-laypage span{
	padding: 0 8px;
}
.layui-laypage .layui-laypage-spr {
    border: 0;
}
#selectDistrict .layui-form-select .layui-edge{
	right: -18px;
}
/* 鍝佺墝鏍峰紡 */
#brand p:hover span{
	display: block;
}
input.newBrand{
	height: 26px;
	padding-left: 0px;
	border: 0px;
}
.brand{
	border: 0px;
}
/* 鍟嗗搧鍒嗙被鏍峰紡 */
.categoryList{
	width: 500px;
	margin-top: 30px;
	overflow: hidden;
}
.categoryList>div{
	float: left;
	width: 50%;
}
.categoryParentSelect{
	border: 1px solid #eee;
	background-color: #E3F2FD;
	color: #000;
	line-height: 26px;
}
.categoryParent{
	padding-left: 10px;
	float: left;
	border: 0px;
	background-color: transparent;
	width: 100px;
	padding-top: 4px;
	font-size:16px;
	font-weight:bold;
}
.category{
	float: left;
	border: 0px;
	width: 124px;
}
input.newCategoryParent,input.newCategory{
	height: 25px;
	border: 0px;
}
.newCategory{
	padding-left: 0px;
}
#category p:hover span{
	display: block;
}
#categoryParent p input{
	cursor: pointer;
	width: 120px;
}
#category p input{
	width: 112px;
}
.categoryQueryHints{
	color: #888;
	line-height: 30px;
}
.categoryQueryHints .add{
	margin-left: 5px;
	cursor: pointer;
}
/* 鍟嗗搧鍗曚綅鏍峰紡 */
#unit p:hover span{
	display: block;
}
input.newUnit{
	height: 20px;
	padding-left: 0px;
	border: 0px;
}
#unit p input{
	border: 0px;
}
/* 鍟嗗搧灞炴�ф牱寮� */
#proeprty p.layui-input-block:hover span{
	display: block;
}
label.layui-form-label{
	width: 79px;
}