@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
       url("../font/SourceHanSansCN-Regular.woff") format("woff"),
       url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
       url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
body{
	font-family: "SourceHanSansCN-Regular";
}

#homeMain{
	position: relative;
	overflow: auto;
	min-width: 660px;
}
.head_tips{
	color: #7c8389;
	line-height: 40px;
	margin-bottom: 10px;
}

/* 褰撳ぉ閿�鍞鍐� */
.salesOverviewOfTheDay{
	margin-bottom: 20px;
	border-radius:20px;
	padding:10px;
}
.salesOverviewOfTheDay h5{
	font-size: 16px;
	line-height: 40px;
	font-weight: 600;
    color: rgb(36, 42, 48);
}
.salesOverviewOfTheDay div{
	display: inline-block;
	color: silver;
	font-size: 14px;
	margin-right: 30px;
}
.salesOverviewOfTheDay div span{
	font-size: 23px !important;
	color: #2196F3;
}
.salesOverviewOfTheDay div b{
	color: #2196F3;
}

/* 闁匡拷閸烆喛铔嬮崝鍨禈閸栧搫鐓� */
.salesTrends{
	width: 100%;
	border:1px solid #eee;
	background-color:#eee;
	padding:10px;
}
.salesTrends h5{
	line-height: 40px;
	color: #53606B;
}
.salesTrends hr{
	background-color: #D7D7D7;
}
#sell{
	height: 360px;
	width: 100%;
}

/* 渚挎嵎鍏ュ彛鍖� */
.convenientEntrance{
	margin-top:20px;
	margin-bottom: 100px;
	border-radius:20px;
	padding:10px;
}
.convenientEntrance span{
	padding: 10px 0;
}

.convenientEntrance p{
	padding-left: 10px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 900 !important;
}
.convenientEntrance ul{
	padding: 0 80px;
	overflow: hidden;
}
.convenientEntrance ul li{
	border: 1px solid #eee;
	float: left;
	margin-right: 8px;
	width: 150px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.convenientEntrance ul li:hover{
	background-color: rgb(33, 184, 243);

    color: #ffffff;
}

/* 搴曢儴 */
.footer{
	position: fixed;
	left: 20px;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}
.footerText{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}