* {
	margin: 0;
	padding: 0;
	font-size: medium;
}

.layui-form-select dl dd.layui-this {
	background-color: #2196F3;
}

.content {
	margin-left: 30%;
	margin-top: 3%;
}

.showSession {
	width: 100%;
	padding: 2%;
	overflow: hidden;
}

.showSession p {
	float: left;
	width: min-content;
	margin-right: 5%
}

.showInfo {
	padding: 3%;
	height: 480px;
	overflow-y: auto;
	width: 93.8%;
}

dl.layui-anim-upbit::-webkit-scrollbar {
	width: 6px;
	height: 1px;
}

dl.layui-anim-upbit::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
	background: #C1C1C1;
}

dl.layui-anim-upbit::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

.showInfo::-webkit-scrollbar {
	width: 6px;
	height: 1px;
}

.showInfo::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
	background: #C1C1C1;
}

.showInfo::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	background: rgb(255, 255, 255);
}

.showInfo div {
	width: 98%;
	height: auto;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	border: #2196F3 solid 1px;
	padding: 1%;
	margin-bottom: 10px;
}

.refreshData {
	background-color: #2196F3;
	border-radius: 8px;
}

.none {
	display: none;
}