@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
         url("../font/SourceHanSansCN-Regular.woff") format("woff"),
         url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
         url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
         url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
*{
    margin: 0;
    padding: 0;
}
.purchasingOrderApprovalMain{
    font-size: 25px;
    background: #1E9FFF;
    width: 100%;
    height: calc(100vh);
    display: flex;
    vertical-align: middle
}

.purchasingOrderApproval-warp{
    background: #fff;
    width: 90%;
    height: calc(90vh);
    margin: auto;
}
.provider-warp{
    height: 150px;
    line-height: 150px;
    margin: 0 5%;
}
.provider_text,.purchasingOrderSN_text{
    font-weight: bold;
}
.purchasingOrderSN-warp{
    float: right;
}
.commodityList{
    width: 100%;
    height:80rem;
}
.commodityList table{
    width: 98%;
    height: 65rem;
    margin:  0 auto;
    text-align: center;
}

.commodityList table tbody {
	display:block;
	height:65rem;
	overflow-y:scroll;/*婊氬姩鏉℃樉绀�*/
}
.commodityList table tbody ::-webkit-scrollbar {
    display: none;
}
.commodityList table thead , tbody tr {
	width:100%;
	display:table;
	table-layout:fixed;/*fixed锛氬浐瀹氳〃鏍煎竷灞�*/
}
.commodityList table thead tr{
    background: #1E9FFF;
    color: #fff;
    font-weight:unset;
    height: 50px; 
}
.summarizing{
    height: 3rem;
    text-align: center;
    float: right;
    line-height: 3rem;
}
.summarizing div{
    margin-right: 1rem;
    display: inline-block;
}
.priceSummary-text{
    color: rgb(197, 45, 45);
}
.approvalBtn{
    width: 30%;
    height: 6rem;
    font-size: 3rem; 
    border: unset;
    background: #009688;
    color: #fff;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}
.commodityList table tr td{
    height: 50px;
}
.commodityList table tr:hover{
    background: #1E9FFF !important;
    color: #fff;
}
.odd{
    background: #F2F2F2 !important;
}
.MsgStyle{
    color: #fff;
    text-align: center;
    font-size: 2rem; 
    width: 100%;
    line-height: 60px;
}
.layui-layer.layui-layer-dialog{
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
}
.wrap {
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}