@font-face {
    font-family: "SourceHanSansCN-Regular";
    src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
         url("../font/SourceHanSansCN-Regular.woff") format("woff"),
         url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
         url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
         url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
*{
    margin: 0;
    padding: 0;
}
.unsalableCommodityMain{
    font-size: 25px;
    background: #1E9FFF;
    width: 100%;
    height: calc(100vh);
    display: flex;
    vertical-align: middle
}
.unsalableCommodity{
    width: 90%;
    height: calc(90vh);
    margin: auto;
    background: #fff;
}
.commodityNumber{
    height: 150px;
    line-height: 150px;
    margin: 0 5%;
}
.number-text{
    font-weight: bold;
}
.commodityList{
    width: 100%;
    height: calc(75vh);
}
.commodityList table{
    width: 98%;
    height: calc(70vh);
    margin:  0 auto;
    text-align: center;
}

.commodityList table tbody {
	display:block;
	height:calc(70vh);
    overflow-y:scroll;/*滚动条显示*/
    color: black
}
.commodityList table tbody ::-webkit-scrollbar {
    display: none;
}
.commodityList table thead , tbody tr {
	width:100%;
	display:table;
	table-layout:fixed;/*fixed：固定表格布局*/
}
.commodityList table thead tr{
    background: #1E9FFF;
    color: #fff;
    font-weight:unset;
    height: 50px; 
}
.commodityList table tr td{
    height: 50px;
}
.commodityList table tr:hover{
    background: #1E9FFF;
    color: #fff;
}
.odd{
    background: #F2F2F2 ;
}