@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
       url("../font/SourceHanSansCN-Regular.woff") format("woff"),
       url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
       url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
body{
	font-family: "SourceHanSansCN-Regular";
}

#warehouseListMain{
	margin: 0 20px;
	min-width: 1400px;
}
/* �ϱ� */
.warehouseListTop{
	width: 101%;
	height: 30px;
	padding-bottom:8px;
	border-top: 6px solid #ECEFF1;
	border-left: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
	margin-bottom: 5px;
}
.warehouseListTop .layui-form-label{
	width: auto;
}
#time, #shop{
	border: 1px solid #eee;
}
.warehouseListTop #timeList{
	display: none;
	position: absolute;
	top: 42px;
	left: 100px;
	padding: 8px 8px;
	border: 1px solid #cccccc;
	max-height: 300px;
	overflow: auto;
	background-color: #ffffff;
    z-index: 10086;
}
.warehouseListTop #shopList{
	display: none;
	position: absolute;
	top: 42px;
	left: 220px;
	padding: 8px 8px;
	border: 1px solid #cccccc;
	max-height: 300px;
	overflow: auto;
	background-color: #ffffff;
    z-index: 10086;
}
.warehouseListTop #storeNwarehouseList{
	display: none;
	position: absolute;
	top: 88px;
    left: 250px;
	padding: 8px 8px;
	border: 1px solid #cccccc;
	max-height: 300px;
	overflow: auto;
	background-color: #ffffff;
    z-index: 10086;
}
#timeList li {
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.warehouseListTop ul li{
	cursor: pointer;
}
/* �±� */
.warehouseListBottom{
	padding-left: 16px;
}
/* �±���� */
.warehouseListBottom .bottomLeft{
	float: left;
	z-index: 99;
	padding: 8px;
	margin-top: -5px;
	margin-left: -16px;
	border-left: 6px solid #eee;
	border-right: 6px solid #eee;
}
.allCategoryShow{
	border: 1px solid #eee;
	padding: 5px;
	cursor: pointer;
	margin-left: 40px;
}
.warehouseListBottom .layui-nav-tree{
	margin-top: 10px;
	width: 240px;
	background-color: #ffffff;
	overflow: auto;
}
.warehouseListBottom .layui-nav-tree li a{
	color: #000000;
}
.warehouseListBottom .layui-nav-tree .layui-nav-item a:hover{
	background-color: #2196F3;
	color: #ffffff;
}
.warehouseListBottom .layui-nav-tree .layui-nav-itemed>a{
	color: #000000!important;
}
.warehouseListBottom .layui-nav-tree .layui-nav-itemed>a:hover{
	color: #ffffff!important;
}
.warehouseListBottom .layui-nav .layui-nav-more{
	border-color: #ccc transparent transparent;
}
.warehouseListBottom .layui-nav-itemed>a .layui-nav-more{
	border-color: transparent transparent #ccc;
}
.warehouseListBottom .layui-nav-tree .layui-nav-bar{
	background-color: transparent;
}
.warehouseListBottom .layui-nav-tree dl{
	background-color: #ffffff;
}
.warehouseListBottom .layui-nav-tree dl dd{
	background-color: #ffffff;
	text-align:center;
}
.warehouseListBottom .layui-nav-tree .layui-this a{
	background-color: #2196F3;
	color: #ffffff;
}
.layui-nav-itemed>.layui-nav-child {
	background-color: transparent!important;;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
	background-color: #2196F3;
}

/* �±��м� */
.warehouseListBottom .bottomCenter{
	float: left;
	margin-left: 25px;
}
.warehouseListBottom .layui-form .layui-icon{
	font-size: 20px;
}
.warehouseDetail .layui-form{
	border: none;
}
.warehouseDetail .layui-table thead tr:nth-child(2){
	background-color: #2196F3;
	color: #fff;
}
.warehouseDetail .layui-table tbody tr:hover, .layui-table-click{
	background-color: #E3F2FD!important;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
	border-color: #2196F3;
}
.warehouseDetail div.layui-table-header table thead tr th div span.layui-table-sort{
	display: none;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #2196F3;
}
#layui-table-page2 a:hover {
	color: #2196F3;
}
.warehouseDetail .layui-unselect{
	margin-top: 2px;
}
.warehouseDetail .layui-laypage-limits{
	display: none;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #2196F3;
    background-color: #2196F3;
}
.layui-table-page .layui-laypage input:focus{
	border-color: #2196F3!important;
}
.bottomCenter .commoditySearch{
	position: absolute;
	margin-top: -45px;
}
.bottomCenter input.commoditySearch{
	width: 200px;
	height: 30px;
	text-overflow: ellipsis;
	margin-left: 60px;
}
.bottomCenter .commoditySearchi {
	position: absolute;
	margin-left: 265px;
	margin-top: -42px;
}
.multiPackageThead {
    background-color: #2196F3 !important;
    color: #fff;
}
.warehouseDetail table{
	border: 0px!important;
}
#packageUnits th, #packageUnits td{
	text-align: center;
	height: 25px;
}
#packageUnits h5{
	margin: 5px 0px;
}
/* �±��ұ� */
.warehouseListBottom .bottomRight{
	width: 410px;
	float: left;
	margin-left: 5px;
	height: auto;
}
.bottomRight .layui-inline{
	width: 200px;
	margin-right: 0px;
}
.bottomRight .layui-form-item{
	margin-bottom: 0px;
}
.bottomRight .layui-form-label{
	width: 60px;
	color: rgb(136, 136, 136);
	padding: 5px 15px;
}
.bottomRight .layui-input{
	height: 30px;
	padding: 5px 15px;
}
.bottomRight .layui-input-inline{
	width: 100px;
}
.bottomRight .layui-form input{
	width: 130px;
	border: 0px;
}
.bottomRight .layui-input-block {
    margin-left: 84px;
    min-height: 0px; 
}
