<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.bx.erp.dao.ConfigGeneralMapper">
	<resultMap type="com.bx.erp.model.config.ConfigGeneral" id="ConfigGeneralMap">
		<result column="F_ID" property="ID" />
		<result column="F_Name" property="name" />
		<result column="F_Value" property="value" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
	</resultMap>
	
	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="ConfigGeneralMap">
		{CALL SP_ConfigGeneral_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="ConfigGeneralMap">
		{CALL SP_ConfigGeneral_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>
	
	<select id="update" statementType="CALLABLE" useCache="false" resultMap="ConfigGeneralMap">
		{CALL SP_ConfigGeneral_Update(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{value, mode=IN}
		)}
	</select>
</mapper>
