<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.bx.erp.dao.RetailTradeAggregationMapper">
	<resultMap type="com.bx.erp.model.RetailTradeAggregation" id="RetailTradeAggregationMap">
		<result column="F_ID" property="ID" />
		<result column="F_StaffID" property="staffID" />
		<result column="F_PosID" property="posID" />
		<result column="F_WorkTimeStart" property="workTimeStart" />
		<result column="F_WorkTimeEnd" property="workTimeEnd" />
		<result column="F_TradeNO" property="tradeNO" />
		<result column="F_Amount" property="amount" />
		<result column="F_ReserveAmount" property="reserveAmount" />
		<result column="F_CashAmount" property="cashAmount" />
		<result column="F_WechatAmount" property="wechatAmount" />
		<result column="F_AlipayAmount" property="alipayAmount" />
		<result column="F_Amount1" property="amount1" />
		<result column="F_Amount2" property="amount2" />
		<result column="F_Amount3" property="amount3" />
		<result column="F_Amount4" property="amount4" />
		<result column="F_Amount5" property="amount5" />
	</resultMap>
	
	<select id="create" statementType="CALLABLE" useCache="false" resultMap="RetailTradeAggregationMap">
		{call SP_RetailTradeAggregation_Create(
		#{iErrorCode, jdbcType=INTEGER,  mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{staffID, mode=IN},
		#{posID, mode=IN},
		#{workTimeStart, mode=IN},
		#{workTimeEnd, mode=IN},
		#{tradeNO, mode=IN},
		#{amount, mode=IN},
		#{reserveAmount, mode=IN},
		#{cashAmount, mode=IN},
		#{wechatAmount, mode=IN},
		#{alipayAmount, mode=IN},
		#{amount1, mode=IN},
		#{amount2, mode=IN},
		#{amount3, mode=IN},
		#{amount4, mode=IN},
		#{amount5, mode=IN}
		)}
	</select>
	
	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="RetailTradeAggregationMap">
		{call SP_RetailTradeAggregation_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER,  mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{staffID, mode=IN}
		)}
	</select>
</mapper>