<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.RoleMapper">
	<resultMap type="com.bx.erp.model.Role" id="RoleMap">
	<result column="F_ID" property="ID" />
		<result column="F_Name" property="name" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
	</resultMap>
	
	<resultMap id="staffMaps" type="com.bx.erp.model.Staff">
		<id property="ID" column="F_ID" />
		<result property="name" column="F_Name" />
		<result property="phone" column="F_Phone" />
		<result property="openid" column="F_OpenID" />
		<result property="unionid" column="F_Unionid" />
		<result property="shopID" column="F_ShopID" />
	</resultMap>

	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="RoleMap">
		{CALL SP_Role_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{name, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord,
		jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="RoleMap">
		{CALL SP_Role_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{name, mode=IN}
		)}
	</select>

	<select id="delete" statementType="CALLABLE" useCache="false" resultMap="RoleMap">
		{CALL SP_Role_Delete(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{bForceDelete, mode=IN}
		)}
	</select>

	<select id="update" statementType="CALLABLE" useCache="false" resultMap="RoleMap">
		{CALL SP_Role_Update(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{name, mode=IN}
		)}
	</select>

	<select id="retrieveAlsoStaff" statementType="CALLABLE" useCache="false" resultMap="RoleMap,staffMaps">
		{CALL SP_Role_RetrieveAlsoStaff(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>

</mapper>