<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.ShopMapper">
	<resultMap type="com.bx.erp.model.Shop" id="ShopMap">
		<id column="F_ID" property="ID" />
		<result column="F_Name" property="name" />
		<result column="F_CompanyID" property="companyID" />
		<result column="F_Address" property="address" />
		<result column="F_Status" property="status" />
		<result column="F_Longitude" property="longitude" />
		<result column="F_Latitude" property="latitude" />
		<result column="F_Key" property="key" />
		<result column="F_Remark" property="remark" />
		<result column="F_BXStaffID" property="bxStaffID" />
		<result column="F_DistrictID" property="districtID" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
		<result column="districtName" property="districtName" /> <!-- 区域名称 -->
	</resultMap>

	<resultMap id="staffMapA" type="com.bx.erp.model.Staff">
		<id property="ID" column="F_ID" />
		<result property="name" column="F_Name" />
		<result property="phone" column="F_Phone" />
		<result property="IDInPOS" column="F_IDInPOS" />
		<result property="POS_SN" column="F_POS_SN" />
		<result property="weChat" column="F_WeChat" />
		<result property="openid" column="F_OpenID" />
		<result property="unionid" column="F_Unionid" />
		<result property="ICID" column="F_ICID" />
		<result property="pwdEncrypted" column="F_pwdEncrypted" />
		<result property="salt" column="F_Salt" />
		<result property="passwordExpireDate" column="F_PasswordExpireDate" />
		<result property="isFirstTimeLogin" column="F_IsFirstTimeLogin" />
		<result property="q1" column="F_Q1" />
		<result property="q2" column="F_Q2" />
		<result property="q3" column="F_Q3" />
		<result property="a1" column="F_A1" />
		<result property="a2" column="F_A2" />
		<result property="a3" column="F_A3" />
		<result property="shopID" column="F_ShopID" />
		<result property="departmentID" column="F_DepartmentID" />
		<result property="status" column="F_Status" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
		<result column="roleID" property="roleID" />
		<result column="roleName" property="roleName" />
	</resultMap>

	<resultMap id="posMapA" type="com.bx.erp.model.Pos">
		<id property="ID" column="F_ID" />
		<result property="pos_SN" column="F_POS_SN" />
		<result property="shopID" column="F_ShopID" />
		<result property="pwdEncrypted" column="F_pwdEncrypted" />
		<result property="salt" column="F_Salt" />
		<result property="passwordInPOS" column="F_PasswordInPOS" />
		<result property="status" column="F_Status" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
	</resultMap>

	<resultMap type="com.bx.erp.model.Company" id="companyMapA">
		<id column="F_ID" property="ID" />
		<result column="F_SN" property="SN" />
		<result column="F_BusinessLicenseSN" property="businessLicenseSN" />
		<result column="F_BusinessLicensePicture" property="businessLicensePicture" />
		<result column="F_BossPhone" property="bossPhone" />
		<result column="F_BossPassword" property="bossPassword" />
		<result column="F_BossWechat" property="bossWechat" />
		<result column="F_DBName" property="dbName" />
		<result column="F_Key" property="key" />
		<result column="F_Status" property="status" />
		<result column="F_Name" property="name" />
		<result column="F_BossName" property="bossName" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
		<result column="F_ExpireDatetime" property="expireDatetime" />
		<result column="F_DBUserName" property="dbUserName" />
		<result column="F_DBUserPassword" property="dbUserPassword" />
		<result column="F_AuthorizerAppid" property="authorizerAppid" />
		<result column="F_AuthorizerRefreshToken" property="authorizerRefreshToken" />
		<result column="F_FuncInfo" property="funcInfo" />
		<result column="F_Submchid" property="submchid" />
		<result column="F_Logo" property="logo" />
		<result column="F_BrandName" property="brandName" />
	</resultMap>

	<resultMap type="com.bx.erp.model.BxStaff" id="bxStaffMapA">
		<id column="F_ID" property="ID" />
		<result column="F_Name" property="name" />
		<result column="F_Mobile" property="mobile" />
		<result column="F_PwdEncrypted" property="pwdEncrypted" />
		<result column="F_Salt" property="salt" />
		<result column="F_RoleID" property="roleID" />
		<result column="F_DepartmentID" property="departmentID" />
		<result column="F_Sex" property="sex" />
		<result column="F_ICID" property="ICID" />
	</resultMap>

	<select id="retrieveNEx" statementType="CALLABLE" useCache="false" resultMap="ShopMap,companyMapA,bxStaffMapA">
		{CALL SP_Shop_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{iPageIndex, jdbcType=INTEGER, mode=IN},
		#{iPageSize, jdbcType=INTEGER, mode=IN},
		#{districtID, jdbcType=INTEGER, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SP_Shop_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{iPageIndex, jdbcType=INTEGER, mode=IN},
		#{iPageSize, jdbcType=INTEGER, mode=IN},
		#{districtID, jdbcType=INTEGER, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>
	
	<select id="retrieveNByFields" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SP_Shop_RetrieveNByFields(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{queryKeyword, mode=IN},
		#{districtID, mode=IN},
		#{iPageIndex, jdbcType=INTEGER, mode=IN},
		#{iPageSize, jdbcType=INTEGER, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SP_Shop_Create(
		#{iErrorCode, jdbcType=INTEGER,
		mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{name,mode=IN},
		#{companyID,mode=IN},
		#{address,mode=IN},
		#{districtID, mode=IN},
		#{status,mode=IN},
		#{longitude,mode=IN},
		#{latitude,mode=IN},
		#{key,mode=IN},
		#{remark,mode=IN},
		#{bxStaffID,mode=IN}
		)}
	</select>

	<select id="deleteEx" statementType="CALLABLE" useCache="false" resultMap="posMapA,staffMapA">
		{CALL SP_Shop_Delete(
		#{iErrorCode, jdbcType=INTEGER,mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID,jdbcType=INTEGER,mode=IN},
		#{companyID,jdbcType=INTEGER,mode=IN}
		)}
	</select>

	<select id="update" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SP_Shop_Update(
		#{iErrorCode, jdbcType=INTEGER,
		mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID,mode=IN},
		#{name,mode=IN},
		#{address,mode=IN},
		#{districtID, mode=IN},
		#{longitude,mode=IN},
		#{latitude,mode=IN},
<!-- 		#{key,mode=IN}, -->
		#{remark,mode=IN}
		)}
	</select>

	<select id="retrieve1Ex" statementType="CALLABLE" useCache="false" resultMap="ShopMap,companyMapA,bxStaffMapA">
		{CALL SP_Shop_Retrieve1(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID,jdbcType=INTEGER,mode=IN}
		)}
	</select>

	<select id="checkUniqueField" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SP_Shop_RetrieveN_CheckUniqueField(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg,jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{fieldToCheckUnique,mode=IN},
		#{uniqueField,mode=IN}
		)}
	</select>
	
	<select id="checkStatus" statementType="CALLABLE" useCache="false" resultMap="ShopMap">
		{CALL SPD_Shop_CheckStatus(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg,jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
</mapper>