<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.trade.PromotionScopeMapper">
	<resultMap type="com.bx.erp.model.trade.PromotionScope" id="promotionScopeMap">
		<id column="F_ID" property="ID" />
		<result column="F_PromotionID" property="promotionID" />
		<result column="F_CommodityID" property="commodityID" />
		<result column="F_CommodityName" property="commodityName" />
	</resultMap>
	
	<select id="create" statementType="CALLABLE" useCache="false" resultMap="promotionScopeMap" >
		{CALL SP_PromotionScope_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{promotionID, mode=IN}, 
		#{commodityID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="promotionScopeMap" >
		{CALL SP_PromotionScope_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{promotionID, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},		
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}	
		)}
	</select>
</mapper>