<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.commodity.BrandSyncCacheDispatcherMapper">
	<resultMap type="com.bx.erp.model.commodity.BrandSyncCacheDispatcher" id="brandSyncCacheDispatcherMap">
		<result property="ID" column="F_ID" />
		<result property="syncCacheID" column="F_SyncCacheID" />
		<result property="pos_ID" column="F_POS_ID" />
		<result column="F_CreateDatetime" property="createDatetime" />
	</resultMap>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="brandSyncCacheDispatcherMap">
		{CALL SP_BrandSyncCacheDispatcher_UpdatePOSStatus(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{syncCacheID, mode=IN},
		#{pos_ID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="brandSyncCacheDispatcherMap">
		{CALL SP_BrandSyncCacheDispatcher_RetriveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>
	
	
</mapper>