.popupPage{
	display: none;
	position: relative;
	overflow: hidden;
	min-width: 1000px;
}
.popupPage .leftRegion{
	float: left;
	background-color: #2196F3;
	padding: 0 15px;
}
.popupPage .leftRegion .topArea{
	padding-bottom: 15px;
}
.popupPage .leftRegion .topArea h3{
    font-size: 16px;
    color: #ffffff;
    padding: 15px 20px;
}
.popupPage .leftRegion .topArea span{
	float: left;
	color: #ffffff;
	padding: 0 20px;
}
.selech{
	border: 1px solid #ECEFF1;
	padding: 3px;
}
.td_search{
	position: absolute;
	margin-top: -40px;
	margin-left: 650px;
}

.right-data{
	z-index: 99;
	margin-left: 0px;
	margin-top: 0px;
}
.popupPage .leftRegion .topArea span:nth-child(2){
	color: #fff;
}
.popupPage .leftRegion .topArea span:nth-child(3){
	cursor: pointer;
}
.popupPage .leftRegion .layui-nav-tree{
	background-color: #2196F3;
	height: 456px;
	overflow: auto;
}
.popupPage .leftRegion .layui-nav-tree::-webkit-scrollbar{
	display: none;
}
.popupPage .leftRegion .layui-nav-tree li a{
	color: #ffffff;
}
.popupPage .leftRegion .layui-nav-tree .layui-nav-item a:hover{
	background-color: #2196F3;
}
.popupPage .leftRegion .layui-nav-tree .layui-nav-bar{
	background-color: transparent;
}
.popupPage .leftRegion .layui-nav-tree dl{
	background-color: #2196F3;
}
.popupPage .leftRegion .layui-nav-tree dl dd{
	background-color: #2196F3;
}
.popupPage .leftRegion .layui-nav-tree .layui-this a{
	background-color: #2196F3;
}
.popupPage .leftRegion button{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 15px;
	border-color: transparent;
}
.popupPage .rightRegion{
	float: left;
	background-color: #ffffff;
	padding: 20px;
}
.popupPage .topArea{
	overflow: hidden;
	margin-bottom: 5px;
}
.popupPage .topArea input{
	float: left;
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-overflow: ellipsis;
}
.popupPage .topArea i{
	float: left;
	font-size: 20px;
	line-height: 30px;
	margin-left: 6px;
	cursor: pointer;
}
#popupCommodityList + div{
	border: none;
}
#popupCommodityList + div .layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: #2196F3;
}
#popupCommodityList + div .layui-laypage a:hover{
	color: #2196F3;
}
#popupCommodityList + div .layui-table-page .layui-laypage input:focus{
	border-color: #2196F3!important;
}
.popupPage .rightRegion .layui-table .layui-form-checkbox[lay-skin="primary"]{
     top: 50%;
     transform: translateY(-50%);
}
.popupPage .rightRegion .layui-table .layui-form-checked[lay-skin=primary] i{
	border-color: #2196F3;
    background-color: #2196F3;
}
.popupPage .rightRegion .layui-table .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #2196F3;
}
.popupPage .rightRegion .layui-table .popupNumManage{
	position: relative;
	height: 100%;
}
.popupPage .rightRegion .layui-table .popupNumManage .layui-input{
	width: 100%;
	height: 100%;
	padding: 0 26px;
}
.popupPage .rightRegion .layui-table .popupNumManage .reduceNum{
	position: absolute;
	top: 15%;
    left: 5px;
    height: 70%;
    width: 20px;
    padding: 0;
    line-height: 100%;
    text-align: center;
}
.popupPage .rightRegion .layui-table .popupNumManage .addNum{
	position: absolute;
	top: 15%;
    right: 5px;
    height: 70%;
    width: 20px;
    padding: 0;
    line-height: 100%;
    text-align: center;
}
.popupPage .rightRegion .layui-laypage .layui-laypage-curr em{
	color: #ffffff;
	font-weight: normal;
}
.popupPage .rightRegion .footArea{
	width: 100%;
	position: absolute;
	left:250px;
	bottom: 20px;
}
.popupPage .rightRegion .footArea span{
	color: #2196F3;
	line-height: 30px;
}
.popupPage .rightRegion .footArea span strong{
	color: red;
}
.popupPage .rightRegion .footArea button{
	float: right;
	margin-right: 20px;
	border-color: transparent;
}
.popupPage .rightRegion .footArea button:nth-child(2){
	margin-right: 280px !important;
}
.popupPage .rightRegion .footArea button:nth-child(2):hover{
	color: #2196F3;
}
.popupPage .rightRegion .footArea button:nth-child(3){
	background-color: #2196F3;
	color: #ffffff;
}