*{
	margin:0;
	padding:0;
}
@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
       url("../font/SourceHanSansCN-Regular.woff") format("woff"),
       url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
       url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
body{
	font-family: "SourceHanSansCN-Regular";

}

.shop_main{
	margin: 0 20px;
	min-width: 1250px;
}

 /* 濠电姰鍨奸崺鏍箰閹惰棄纾块柟缁㈠枛缁�宀勬煕濠靛棗顏柛姗堟嫹  */
.topNav .layui-form-item{
	margin-bottom: 0;
	height:80px;

}
.topNav_head{
	border: 6px solid #ECEFF1;
	height: 48px;
	margin-bottom: 24px;
}
.topNav .layui-form-label{
	margin-top: 8px;
	width: auto;
}
.topNav .layui-form-label span{
	cursor: pointer;
}
.topNav .layui-form-label span b{
	font-weight: normal;
}
.topNav .layui-form-label + ul{
	display: none;
	position: absolute;
	top: 30px;
	padding: 10px 0;
	border: 1px solid #cccccc;
	max-height: 300px;
	overflow: auto;
	background-color: #ffffff;
    z-index: 10086;
}
.topNav .layui-form-label + ul>li{
	padding: 0 10px;
	width: max-content;
	line-height: 26px;
}
.topNav .layui-form-label + ul>li:hover{
	background-color: rgb(244, 245, 247);
}

/* 闂佽楠哥紞濠傤焽閼姐倗纾芥慨妯挎硾閻ら箖鏌涢幘鑼跺厡閻忓繒鏁婚幃褰掑炊閵娿儳绁烽梺缁樺笒閵堟悂寮诲☉銏犲唨鐟滃酣骞嗛崼銉︾厽闁瑰灝瀚�氾拷 */
.geographicList{
    float: left;
	width: 13%;
	padding-top: 24px;
	margin-top: -24px;
	margin-left:0px;
	height: 600px;
	padding-left: 8px;
	border-left: 6px solid #ECEFF1;
	border-right: 6px solid #ECEFF1;
	border-bottom: 6px solid #ECEFF1;
}

.geographicList .leftRegion{
	width:100%;
}

.topArea{
    margin-bottom: 20px;
    margin-top: -20px;
}

#leftSide{
	float: left;
	width: 100%;
    margin-top: -20px;
}
#leftSide .topArea{
	overflow: hidden;
	margin: 7px 30px 20px 4px;
}
#leftSide .topArea h3{
	display: inline-block;
	font-size: 14px;
}
#leftSide .topArea span{
	float: right;
	cursor: pointer;
}
#leftSide .topArea span:hover{
	color: #2196F3;
}
#leftSide .layui-nav-tree{
	width: 180px;
	background-color: #ffffff;
	overflow: auto;
	max-height: 760px;
}
#leftSide .layui-nav-tree li a{
	color: #000000;
}
#leftSide .layui-nav-tree .layui-nav-item a:hover{
	background-color: rgb(28, 99, 206);
	color: #ffffff;
}
#leftSide .layui-nav-tree .layui-nav-itemed>a{
	color: #000000!important;
}
#leftSide .layui-nav-tree .layui-nav-itemed>a:hover{
	color: #ffffff!important;
}
#leftSide .layui-nav .layui-nav-more{
	border-color: #ccc transparent transparent;
}
#leftSide .layui-nav-itemed>a .layui-nav-more{
	border-color: transparent transparent #ccc;
}
#leftSide .layui-nav-tree .layui-nav-bar{
	background-color: transparent;
}
#leftSide .layui-nav-tree dl{
	background-color: #ffffff;
}
#leftSide .layui-nav-tree dl dd{
	background-color: #ffffff;
}
#leftSide .layui-nav-tree .layui-this a{
	background-color: #2196F3;
	color: #ffffff;
}

/* 婵犵數鍋為崹鍫曞箹閳哄懎鐭楅柛鎰靛枛绾惧潡鏌熺紒銏犳灍闁抽攱甯￠弻鏇熺箾閸喖濮㈤梺鍝勬椤ㄥ﹪寮诲☉銏犲唨鐟滃酣骞嗛崼銉︾厽闁瑰灝瀚�氾拷 */
.shopList{
	width:50%;
	float: left;
	margin-left:1%;
}

.operation{
	position: absolute;
	margin-top: -50px;
	margin-left: 200px;
	height:30px;
	width:100%;
}

.shopList .operation button{
	position: absolute;
	width: 70px;
	margin-top: -20px;
    cursor: pointer;
    margin-left:250px;
    background-color:#2196F3;
}

.shopList .topArea{
	overflow: hidden;
	margin-bottom: 5px;
	cursor: pointer;
	margin-left:10px;
}
.shopList .topArea input{
	float: left;
	display: inline-block;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-overflow: ellipsis;
}
.shopList .topArea i{
	float: left;
	font-size: 20px;
	line-height: 30px;
	margin-left: 6px;
	cursor: pointer;
}

.store{
    margin-top: 30px;
}

.shoplists{
	 position:relative;
}

#pagination{
	position: absolute;
    top: 550px;
    left: 680px;
}
.store .layui-laypage .layui-laypage-curr .layui-laypage-em{
	background-color: transparent;
}
.store .layui-laypage .layui-laypage-curr em{
	color: #2196F3;
}
.store .layui-laypage a, .layui-laypage button, .layui-laypage input, .layui-laypage select, .layui-laypage span {
	border: 0px;
}
.store .layui-laypage a, .layui-laypage span {
	padding: 0px 8px;
}
.store .layui-laypage a:hover{
	color: #2196F3;
}
.store .layui-laypage-curr{
	font-weight: bold;
}

.store ul li{
	margin-left:24px;
	margin-bottom:24px;
	float:left;
	border:2px solid transparent;
	cursor: pointer;
}

.choosed{
	border-color: #2196F3 !important;
}

.store ul li:hover div{
	border-color: transparent;
}

.store ul li:hover{
	border-color: #2196F3;
}

.storeArea{
    border: 1px solid #9F9F9F;
    padding: 10px;
    color: #9F9F9F;
    font-size: 12px;
    width:158px;
    height:82px;
}
.storeArea label{
    color:#000;
}

.storeArea .inBusiness{
	float: right;
    background-color: #2196F3;
    height: 20px;
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 8px;
    line-height: 22px;
}

.storeArea .stopBusiness{
	float: right;
    background-color: #9F9F9F;
    height: 20px;
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 8px;
    line-height: 22px;
}


/*闂傚倷绀侀幉锟犳偡閵夆晛鍌ㄩ柡宥庡幖閻ら箖鏌涢幘鑼妽閻庢碍宀搁弻銊╁棘閸喒鎸冮梺娲诲幖闁帮綁寮婚埄鍐╁闁告繂瀚烽弳顓㈡倵鐟欏嫭鎯堥柟鍑ゆ嫹*/
.shopDetails{
	float: left;
    width: 30%;
    color:#9F9F9F;
    margin-left: 16px;
    margin-bottom: 20px;
}
.shopDetails h3{
	color:#000;
}
.shopDetails .requiredField{
	color: red;
	margin-right: 3px;
}
.shopDetails .customerInformation{
	margin-top: 26px;
	position: relative;
}

.shopDetails  button{
	font-size:12px;
}
.shopDetails .customerInformation .createCompany, .shopDetails .customerInformation .cancel{
	display: none;
}
.shopDetails .customerInformation table tbody tr{
	margin-left:8px;
	float: left;
	margin-top:6px;
}

.shopDetails .customerInformation table tbody tr td{
    width: 80px;
    height: 23px;
    text-align: right;
}
.shopDetails .customerInformation table tbody tr td:nth-child(2){
	width: 100px;
}
.shopDetails .customerInformation table tbody tr td input{
	width: 100%;
}

.shopDetails .customerInformation .toUpdateSubmchid{
    position: absolute;
    right: -36px;
    top: 0.5px;
    background-color: #2196F3;
}


.toDeleteShop{
    position: absolute;
    right: -20px;
    top: 0.5px;
    background-color: #2196F3;
}

.shopDetails .shopInformation table tbody tr{
	margin-left:8px;
	float: left;
	margin-top:6px;
}

.shopDetails .shopInformation table tbody tr td{
    width: 80px;
    height:23px;
    text-align: right;
}
.shopDetails .shopInformation table tbody tr td:nth-child(2){
	width: 100px;
}
.shopDetails .shopInformation table tbody tr td input{
	width: 100%;
}

.shopDetails .message{
	color:#000;
	padding-left: 14px;
    position: relative;
    width:113px;
}
.shopDetails .companyPermit{
	display: block;
	margin-top: -50px;
	margin-left: -100px;
	position: relative;
}

.shopDetails .companyPermit .uploadCompanyPermit{
    position: absolute;
	left: 290px;
	margin-top: 60px;
	margin-left: 80px;
	margin-bottom: 20px;
    width: 82px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.shopDetails .companyLogo{
	display: inline-table;
	position: relative;
	margin-bottom: 10px;
}

.shopDetails .companyLogo img{
	height: 120px;
	width: 120px;
}

.shopDetails .companyLogo .uploadCompanyLogo{
	/* position: absolute; */
    top: 60px;
    left: 290px;
	margin-left: 150px;
	margin-top: 20px;
	margin-bottom: 50px;
    width: 92px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.shopDetails .companyLogo span{
	position: absolute;
    left: 290px;
    margin-left: 10px;
    width: 150px;
    color: #000;
}

.shopDetails img{
	border: 1px solid;
    margin-left: 36%;
}
.shopDetails .message input{
	border:none;
}

.backgroudCss{
	background-color: #808080 !important;
}

.shopDetails .message input:hover{
	border:1px solid #2196F3;
}

.shopDetails .toUpdateCompany{
    position: absolute;
    top: 2px;
    left: 65px;
    margin-left: 10px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
}

.shopDetails .createCompany{
    position: absolute;
    top: 2px;
    left: 65px;
    margin-left: 10px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
}

.shopDetails .uploadCompanyAPI{
    position: absolute;
    top: -50px;
	left: 290px;
    margin-left: -30px;
    width: 100px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.shopDetails .cancel{
	position: absolute;
    top: 2px;
    left: 112px;
    margin-left: 10px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
}

.shopDetails .renewBtn{
	position: absolute;
    top: 1px;
    left: 90px;
    margin-left: 10px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
}
.shopDetails .shopInformation {
	margin-top: 20px;
	position: relative;
}

.shopInformation .toUpdateShopInfo{
	position: absolute;
    top: 0;
    margin-left: 72px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
}

.shopInformation .cancelUpdateShopInfo{
	position: absolute;
    top: 0;
    margin-left: 140px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
}

/*pos闂傚倷绀侀幖顐︽偋閻愬搫绠柨鐕傛嫹*/

.posInformation{
	margin-top: 15px;
	position: relative;
}
.posInformation .toCreatePos{
	position: absolute;
    top: 0;
    margin-left: 88px;
    width: 40px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    height: 18px;
    line-height: 18px;
}

.posInformation .tableHeader, .posInformation .tableBody{
	width: 420px;
}
.posInformation table th, .posInformation table td{
	text-align: center;
}
.posInformation .tableHeader table{
	margin: 0;
	margin-top: 10px;
}
.posInformation .tableHeader thead tr{
	background-color: #2196F3;
	color: #fff;
}
.posInformation .tableBody{
	max-height: 200px;
	overflow-y: scroll;
}
.posInformation .tableBody::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
.posInformation .tableBody::-webkit-scrollbar-thumb{		/* 婵犵數濮撮敃銉╂嚌閻愵剚鍙忛柍鍝勬噹缁狙囨煥閻斿搫孝婵炲拑绻濆濠氬醇濞戞浠奸梺娲荤厛閸撶喎顕ｉ鍕仭闁绘鐗嗘禒锟� */
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.posInformation .tableBody::-webkit-scrollbar-track{		/* 婵犵數濮撮敃銉╂嚌閻愵剚鍙忛柍鍝勬噹缁狙囨煥閻斿搫孝婵炲拑绻濆濠氬醇濞戞浼囬悗鐐瑰�栧浠嬪蓟閸℃稒鏅搁柨鐕傛嫹 */
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
}
.posInformation .tableBody table{
	margin: 0;
}
.posInformation .tableBody table tr:hover span{
	display: none;
}
.posInformation .tableBody table tr:hover .deletePos{
	display: block;
}
.posInformation .tableBody .deletePos{
    display: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}
.posInformation .tableBody table tr:hover .recycle{
	color:red;
}
.posInformation .tableBody .recycle{
	font-size: 12px;
	cursor: pointer;
}
/* 閻庢稒鍔曢弲銏ゅ箣瀹勬澘濞囩�殿喖婀遍悰锟� */
#submchidPopup{
	display: none;
}
#submchidPopup form{
	width: 320px;
	margin: 20px;
}
#submchidPopup form button{
	float: right;
	background-color: #2196F3;
	margin-left: 20px;
}

/*POS鏈哄脊绐�*/
/*闁诲孩顔栭崰姘跺箠閹捐鍚规い鎾跺С濞岊亪鏌ㄩ悤鍌涘*/
/*闂佽瀛╅鏍窗濮樿泛绠犻柟鎹愵嚙閸氳銇勯幘璺盒℃繛宀婁邯閺屻劑鎮ら崒娑橆伓*/
.posPopup{
    display:none;
}

.posPopup .layui-form{
    margin: 25px;
    margin-top: 25px;
}

.posPopup .layui-btn{
	background-color: #2196F3;
}

.posBtnSubmit{
    margin-left: 26px;
    margin-bottom: 10px;
}
body .layui-laydate .layui-this{
	background-color: #2196F3!important;
}