<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.BonusConsumeHistoryMapper">
	<resultMap type="com.bx.erp.model.BonusConsumeHistory" id="BonusConsumeHistoryMap">
		<id column="F_ID" property="ID" />
		<result column="F_VipID" property="vipID" />
		<result column="F_StaffID" property="staffID" />
		<result column="F_Bonus" property="bonus" />
		<result column="F_AddedBonus" property="addedBonus" />
		<result column="F_Remark" property="remark" />
		<result column="F_VipName" property="vipName" />
		<result column="F_StaffName" property="staffName" />
		<result column="F_VipMobile" property="vipMobile" />
		<result column="F_CreateDatetime" property="createDatetime" />
	</resultMap>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="BonusConsumeHistoryMap">
		{CALL SP_BonusConsumeHistory_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{vipID, mode=IN},
		#{staffID, mode=IN},
		#{bonus, mode=IN},
		#{addedBonus, mode=IN},
		#{remark, mode=IN}
		)}
	</select>
	
	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="BonusConsumeHistoryMap">
		{CALL SP_BonusConsumeHistory_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="BonusConsumeHistoryMap">
		{CALL SP_BonusConsumeHistory_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{vipID, mode=IN},
		#{vipMobile, mode=IN},
		#{vipName, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="delete" statementType="CALLABLE" useCache="false" resultMap="BonusConsumeHistoryMap">
		{CALL SP_BonusConsumeHistory_Delete(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>
	
</mapper>
