<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/bx/erp/dao/commodity/CommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CategoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/BrandMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/InventorySheetMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/InventoryCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/WarehouseMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/WarehousingCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/WarehousingMapper.xml" />
		<mapper resource="com/bx/erp/dao/warehousing/WarehouseMapper.xml" />
		<mapper resource="com/bx/erp/dao/purchasing/PurchasingOrderMapper.xml" />
		<mapper resource="com/bx/erp/dao/purchasing/ProviderMapper.xml" />
		<mapper resource="com/bx/erp/dao/purchasing/PurchasingOrderCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/purchasing/ProviderCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/purchasing/ProviderDistrictMapper.xml" />
		<mapper resource="com/bx/erp/dao/message/MessageCategoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/message/MessageMapper.xml" />
		<mapper resource="com/bx/erp/dao/message/MessageHandlerSettingMapper.xml" />
		<mapper resource="com/bx/erp/dao/message/MessageItemMapper.xml" />
		<mapper resource="com/bx/erp/dao/CompanyMapper.xml" />
		<mapper resource="com/bx/erp/dao/BarcodesMapper.xml" />
		<mapper resource="com/bx/erp/dao/BarcodesSyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/BarcodesSyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/BonusConsumeHistoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/BonusRuleMapper.xml" />
		<mapper resource="com/bx/erp/dao/BxConfigGeneralMapper.xml" />
		<mapper resource="com/bx/erp/dao/BxStaffMapper.xml" />
		<mapper resource="com/bx/erp/dao/ConfigCacheSizeMapper.xml" />
		<mapper resource="com/bx/erp/dao/ConfigGeneralMapper.xml" />
		<mapper resource="com/bx/erp/dao/CouponCodeMapper.xml" />
		<mapper resource="com/bx/erp/dao/CouponMapper.xml" />
		<mapper resource="com/bx/erp/dao/CouponScopeMapper.xml" />
		<mapper resource="com/bx/erp/dao/DepartmentMapper.xml" />
		<mapper resource="com/bx/erp/dao/PermissionMapper.xml" />
		<mapper resource="com/bx/erp/dao/PosMapper.xml" />
		<mapper resource="com/bx/erp/dao/PosSyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/PosSyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/RetailTradeAggregationMapper.xml" />
		<mapper resource="com/bx/erp/dao/RetailTradeCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/RetailTradeCommoditySourceMapper.xml" />
		<mapper resource="com/bx/erp/dao/RetailTradeCouponMapper.xml" />
		<mapper resource="com/bx/erp/dao/RetailTradeMapper.xml" />
		<mapper resource="com/bx/erp/dao/ReturnCommoditySheetCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/ReturnCommoditySheetMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/ReturnRetailtradeCommoditydDestinationMapper.xml" />
		<mapper resource="com/bx/erp/dao/RoleMapper.xml" />
		<mapper resource="com/bx/erp/dao/RolePermissionMapper.xml" />
		<mapper resource="com/bx/erp/dao/ShopDistrictMapper.xml" />
		<mapper resource="com/bx/erp/dao/ShopMapper.xml" />
		<mapper resource="com/bx/erp/dao/SmallSheetFrameMapper.xml" />
		<mapper resource="com/bx/erp/dao/SmallSheetTextMapper.xml" />
		<mapper resource="com/bx/erp/dao/StaffBelongingMapper.xml" />
		<mapper resource="com/bx/erp/dao/StaffMapper.xml" />
		<mapper resource="com/bx/erp/dao/StaffPermissionMapper.xml" />
		<mapper resource="com/bx/erp/dao/StaffRoleMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipCardCodeMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipCardMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipCategoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipConsumeHistoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipMapper.xml" />
		<mapper resource="com/bx/erp/dao/VipSourceMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/BrandSyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/BrandSyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CategoryParentMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/commodity/CategorySyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CategorySyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CommodityHistoryMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CommodityPropertyMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/commodity/CommoditySyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/CommoditySyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/PackageUnitMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/RefCommodityHubMapper.xml" />
		<mapper resource="com/bx/erp/dao/commodity/SubCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/report/ReportMapper.xml" />
		<mapper resource="com/bx/erp/dao/report/ReportSummaryWarehousingMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/report/RetailTradeDailyReportByCategoryParentMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/report/RetailTradeDailyReportByCommodityMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/report/RetailTradeDailyReportByStaffMapper.xml" />
		<mapper resource="com/bx/erp/dao/report/RetailTradeDailyReportMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/report/RetailTradeDailyReportSummaryMapper.xml" />
		<mapper
			resource="com/bx/erp/dao/report/RetailTradeMonthlyReportSummaryMapper.xml" />
		<mapper resource="com/bx/erp/dao/report/RetailTradeReportByCommodityMapper.xml" />
		<mapper resource="com/bx/erp/dao/report/WarehousingReportMapper.xml" />
		<mapper resource="com/bx/erp/dao/sm/StateMachineMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/PromotionMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/PromotionScopeMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/PromotionSyncCacheDispatcherMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/PromotionSyncCacheMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/RetailTradePromotingFlowMapper.xml" />
		<mapper resource="com/bx/erp/dao/trade/RetailTradePromotingMapper.xml" />
		<mapper resource="com/bx/erp/dao/wx/WxUserMapper.xml" />
	</mappers>
</configuration>