/*
左侧菜单按钮的默认、悬停、点击样式
*/
#itemButton{
   -fx-background-color:#263238;
   -fx-border-color: #263238;
}
#itemButton:hover{
    -fx-background-color:#455A64;
    -fx-border-color: #2196f3;
}
#itemButton:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}

/*-----------------------------------库存页面-----------------------------------------*/

/*
同步商品数据按钮
*/
#syncButton{
   -fx-background-color:#00BFA5;
   -fx-border-color: #00BFA5;
}
#syncButton:hover{
    -fx-background-color:#4DB6AC;
    -fx-border-color: #4DB6AC;
}
#syncButton:pressed{
    -fx-background-color: #00796B;
     -fx-border-color: #00796B;
}

/*---------------------------------------查单页面----------------------------------------*/

/*
查单页面的筛选按钮
*/
#cl_search{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
#cl_search:hover{
    -fx-background-color:#64B5F6;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #64B5F6;
}
#cl_search:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}
/*
查单页面的重置搜索条件按钮
*/
#cl_clear{
   -fx-background-color:#FFFFFF;
   -fx-border-color: #9E9E9E;
   -fx-text-Fill:#9E9E9E;
}
#cl_clear:hover{
    -fx-background-color:#E3F2FD;
    -fx-text-Fill:#2196f3;
    -fx-border-color: #E3F2FD;
}
#cl_clear:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
     -fx-text-Fill:#FFFFFF;
}
/*
退货页面的重打小票按钮
*/
#cl_reprint_SmallSheet{
  -fx-background-color:#00BFA5;
   -fx-border-color: #00BFA5;
   -fx-text-Fill:#FFFFFF;
}
#cl_reprint_SmallSheet:hover{
    -fx-background-color:#4DB6AC;
       -fx-border-color: #4DB6AC;
    -fx-text-Fill:#FFFFFF;
}
#cl_reprint_SmallSheet:pressed{
    -fx-background-color: #00796B;
        -fx-border-color: #00796B;
     -fx-text-Fill:#FFFFFF;
}

/*-----------------------------------销售页面----------------------------------*/

/*
挂单按钮
*/
#guadan_button{
  -fx-background-color:#2196F3;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#FFFFFF;
}
#guadan_button:hover{
    -fx-background-color:#64B5F6;
       -fx-border-color: #64B5F6;
    -fx-text-Fill:#FFFFFF;
}
#guadan_button:pressed{
    -fx-background-color: #1976D2;
        -fx-border-color: #1976D2;
     -fx-text-Fill:#FFFFFF;
}

/*
搜索按钮
*/
#search_vip_button{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
/*
返回搜索按钮
*/
#return_search_vip_button{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
#search_vip_button:hover{
    -fx-background-color:#64B5F6;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #64B5F6;
}
#search_vip_button:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}

/*
结账按钮
*/
#balance_button{
   -fx-background-color:#F44336;
   -fx-border-color: #F44336;
   -fx-text-Fill:#FFFFFF;
}
#balance_button:hover{
    -fx-background-color:#E57373;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #E57373;
}
#balance_button:pressed{
    -fx-background-color: #D32F2F;
     -fx-border-color: #D32F2F;
}
/*收藏夹按钮*/
#favorites{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
#favorites:hover{
    -fx-background-color:#64B5F6;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #64B5F6;
}
#favorites:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}

/*
键盘按钮点击样式
*/
#keyboard_key{
   -fx-background-color:#FFFFFF;
   -fx-border-color: #FFFFFF;
   -fx-text-Fill:#263238;
}
#keyboard_key:hover{
    -fx-background-color:#FFFFFF;
    -fx-text-Fill:#2196F3;
    -fx-border-color: #2196F3;
}
#keyboard_key:pressed{
    -fx-background-color: #2196F3;
     -fx-border-color: #2196F3;
     -fx-text-Fill:#FFFFFF;
}

/*支付页面的取消支付按钮*/
#payment_close{
    -fx-background-color:#263238;
   -fx-border-color: #263238;
   -fx-text-Fill:#FFFFFF;
}
#payment_close:hover{
    -fx-background-color:#90A4AE;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #90A4AE;
}
#payment_close:pressed{
    -fx-background-color: #455A64;
     -fx-border-color: #455A64;
     -fx-text-Fill:#FFFFFF;
}

/*支付页面的结账按钮*/
#pay{
  -fx-background-color:#F44336;
    -fx-border-color: #F44336;
    -fx-text-Fill:#FFFFFF;
}
#pay:hover{
      -fx-background-color:#E57373;
       -fx-text-Fill:#FFFFFF;
       -fx-border-color: #E57373;
}
#pay:pressed{
   -fx-background-color: #D32F2F;
       -fx-border-color: #D32F2F;
}

/*----------------------------------小票页面------------------------------------*/
/*使用该格式按钮*/
#useCurrentFormatButton{
     -fx-background-color: #2196F3;
         -fx-text-Fill:#FFFFFF;
}
#useCurrentFormatButton:hover{
    -fx-background-color: #64B5F6;
             -fx-text-Fill:#FFFFFF;
}
#useCurrentFormatButton:pressed{
   -fx-background-color: #1976D2;
}

/*删除按钮*/
#smallsheetDeleteButton{
     -fx-background-color: #F5F5F5;
     -fx-border-color: #9E9E9E;
}
#smallsheetDeleteButton:hover{
   -fx-background-color: #E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill: #2196F3;
}
#smallsheetDeleteButton:pressed{
  -fx-background-color: #1976D2;
  -fx-border-color: #1976D2;
  -fx-text-Fill: #FFFFFF;
}

/*缩进加粗之类的按钮*/
#controlTextButton{
     -fx-background-color: #ffffff;
     -fx-border-color: #9E9E9E;
}
#controlTextButton:hover{
   -fx-background-color: #ffffff;
   -fx-border-color: #2196F3;
}
#controlTextButton:pressed{
  -fx-background-color: #E3F2FD;
  -fx-border-color: #2196F3;
}

/*测试打印按钮*/
#printTestButton{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
#printTestButton:hover{
    -fx-background-color:#64B5F6;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #64B5F6;
}
#printTestButton:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}

/*同步按钮*/
#loadingConfigDataButton{
   -fx-background-color:#00BFA5;
   -fx-text-Fill:#FFFFFF;
   -fx-border-color: #00BFA5;
}
#loadingConfigDataButton:hover{
    -fx-background-color:#4DB6AC;
    -fx-border-color: #4DB6AC;
}
#loadingConfigDataButton:pressed{
    -fx-background-color: #00796B;
     -fx-border-color: #00796B;
}

/*新建格式按钮，修改格式按钮，保存修改按钮，保存新建按钮*/
#blueButton{
     -fx-background-color: #2196F3;
         -fx-text-Fill:#FFFFFF;
}
#blueButton:hover{
    -fx-background-color: #64B5F6;
             -fx-text-Fill:#FFFFFF;
}
#blueButton:pressed{
   -fx-background-color: #1976D2;
}

/*取消新建按钮，取消修改按钮*/
#blackButton{
     -fx-background-color: #263238;
         -fx-text-Fill:#FFFFFF;
}
#blackButton:hover{
    -fx-background-color: #90A4AE;
             -fx-text-Fill:#FFFFFF;
}
#blackButton:pressed{
   -fx-background-color: #455A64;
}

