/*黑色按钮*/
#blackButton{
     -fx-background-color: #263238;
         -fx-text-Fill:#FFFFFF;
}
#blackButton:hover{
    -fx-background-color: #90A4AE;
             -fx-text-Fill:#FFFFFF;
}
#blackButton:pressed{
   -fx-background-color: #455A64;
}



/*蓝色按钮*/
#blueButton{
     -fx-background-color: #2196F3;
         -fx-text-Fill:#FFFFFF;
}
#blueButton:hover{
    -fx-background-color: #64B5F6;
             -fx-text-Fill:#FFFFFF;
}
#blueButton:pressed{
   -fx-background-color: #1976D2;
}

/*绿色按钮*/
#greenButton{
   -fx-background-color:#00BFA5;
   -fx-border-color: #00BFA5;
}
#syncButton:hover{
    -fx-background-color:#4DB6AC;
    -fx-border-color: #4DB6AC;
}
#syncButton:pressed{
    -fx-background-color: #00796B;
     -fx-border-color: #00796B;
}

/*蓝色边框按钮*/
#blueBorderBotton{
   -fx-background-color:#E3F2FD;
   -fx-border-color: #2196F3;
   -fx-text-Fill:#2196f3;
}
#blueBorderBotton:hover{
    -fx-background-color:#64B5F6;
    -fx-text-Fill:#FFFFFF;
    -fx-border-color: #64B5F6;
}
#blueBorderBotton:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}