<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.commodity.CommodityShopInfoMapper">
	<resultMap type="com.bx.erp.model.commodity.CommodityShopInfo" id="commodityShopInfoMap">
		<id column="F_ID" property="ID" />
		<result column="F_CommodityID" property="commodityID" />
		<result column="F_ShopID" property="shopID" />
		<result column="F_LatestPricePurchase" property="latestPricePurchase" />
		<result column="F_PriceRetail" property="priceRetail" />
		<result column="F_NO" property="NO" />
		<result column="F_NOStart" property="nOStart" />
		<result column="F_PurchasingPriceStart" property="purchasingPriceStart" />
		<result column="F_CurrentWarehousingID" property="currentWarehousingID" />
	</resultMap>


	
	<select id="create" statementType="CALLABLE" useCache="false" resultMap="commodityShopInfoMap">
		{call SP_CommodityShopInfo_Create(
		#{iErrorCode, jdbcType=INTEGER,mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID,mode=IN},
		#{shopID,mode=IN},
		#{latestPricePurchase,mode=IN},
		#{priceRetail,mode=IN},
		#{nOStart,mode=IN},
		#{purchasingPriceStart,mode=IN},
		#{operatorStaffID,mode=IN},
		#{currentWarehousingID,mode=IN}
		)}
	</select>

	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="commodityShopInfoMap">
		{CALL SP_CommodityShopInfo_RetrieveN(
		#{iErrorCode,jdbcType=INTEGER,mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID, mode=IN},
		#{shopID, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER,mode=OUT}
		)}
	</select>

	
</mapper>