<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bx.erp.dao.wx.WxUserMapper">
	<resultMap type="com.bx.erp.model.wx.WxUser" id="wxUserMap">
		<id column="F_ID" property="ID" />
		<result column="F_Subscribe" property="subscribe" />
		<result column="F_OpenId" property="openid" />
		<result column="F_NickName" property="nickname" />
		<result column="F_Sex" property="sex" />
		<result column="F_Language" property="language" />
		<result column="F_City" property="city" />
		<result column="F_Province" property="province" />
		<result column="F_Country" property="country" />
		<result column="F_HeadImgUrl" property="headimgurl" />
		<result column="F_SubscribeTime" property="subscribe_time" />
		<result column="F_Unionid" property="unionid" />
		<result column="F_Remark" property="remark" />
		<result column="F_GroupId" property="groupid" />
		<result column="F_TagIdList" property="tagid_list" />
		<result column="F_SubscribeScene" property="subscribe_scene" />
		<result column="F_QrScene" property="qr_scene" />
		<result column="F_QrSceneStr" property="qr_scene_str" />
	</resultMap>

	<select id="create" statementType="CALLABLE" useCache="false"
		resultMap="wxUserMap">
		{CALL SP_WxUser_Create(
		#{iErrorCode, jdbcType=INTEGER,
		mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{subscribe, mode=IN},
		#{openid, mode=IN},
		#{nickname,
		mode=IN},
		#{sex, mode=IN},
		#{language, mode=IN},
		#{city, mode=IN},
		#{province, mode=IN},
		#{country, mode=IN},
		#{headimgurl, mode=IN},
		#{subscribe_time, mode=IN},
		#{unionid, mode=IN},
		#{remark, mode=IN},
		#{groupid, mode=IN},
		#{tagid_list, mode=IN},
		#{subscribe_scene,
		mode=IN},
		#{qr_scene, mode=IN},
		#{qr_scene_str, mode=IN}
		)}
	</select>

	<select id="delete" statementType="CALLABLE" useCache="false"
		resultMap="wxUserMap">
		{CALL SP_WxUser_Delete(
		#{iErrorCode, jdbcType=INTEGER,
		mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{openid, mode=IN}
		)}
	</select>

</mapper>