<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.message.MessageMapper">
	<resultMap id="MessageMap" type="com.bx.erp.model.message.Message">
		<id property="ID" column="F_ID" />
		<result property="categoryID" column="F_CategoryID" />
		<result property="isRead" column="F_IsRead" />
		<result property="parameter" column="F_Parameter" />
		<result property="createDatetime" column="F_CreateDatetime" />
		<result property="senderID" column="F_SenderID" />
		<result property="receiverID" column="F_ReceiverID" />
		<result property="updateDatetime" column="F_UpdateDatetime"/>
		<result property="companyID"  column="F_CompanyID"/>
		<result property="status"  column="F_Status"/>
	</resultMap>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="MessageMap">
		{CALL SP_Message_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{categoryID, mode=IN},
		#{isRead, mode=IN},
		#{parameter, mode=IN},
		#{senderID, mode=IN},
		#{receiverID, mode=IN},
		#{companyID, mode=IN}
		)}
	</select>
	
	<select id="update" statementType="CALLABLE" useCache="false" resultMap="MessageMap">
		{CALL SP_Message_Update(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{isRead, mode=IN}
		)}
	</select>
	
	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="MessageMap">
		{CALL SP_Message_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="MessageMap">
		{CALL SP_Message_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>
	
	<select id="messageRetrieveNForWx" statementType="CALLABLE" useCache="false" resultMap="MessageMap"> 
		{CALL SP_Message_RetrieveNForWx(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{status, mode=IN},
		#{companyID, mode=IN}
		)}
	</select>
	
	<select id="updateStatus" statementType="CALLABLE" useCache="false" resultMap="MessageMap"> 
		{CALL SP_Message_UpdateStatus(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>


</mapper>