<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.warehousing.WarehousingMapper">
	<resultMap id="WarehousingMap" type="com.bx.erp.model.warehousing.Warehousing">
		<id property="ID" column="F_ID" />
		<result property="status" column="F_Status" />
		<result property="providerID" column="F_ProviderID" />
		<result property="warehouseID" column="F_WarehouseID" />
		<result property="staffID" column="F_StaffID" />
		<result property="createDatetime" column="F_CreateDatetime" />
		<result property="purchasingOrderID" column="F_PurchasingOrderID" />
		<result property="updateDatetime" column="F_UpdateDatetime" />
		<result property="approverID" column="F_ApproverID" />
		<result property="messageID" column="messageID" />
		<result property="sn" column="F_SN" />
		<result property="shopID" column="F_ShopID" />
		<result property="purchasingOrderSN" column ="purchasingOrderSN" /> <!-- approveEx -->
	</resultMap>

	<resultMap id="WarehousingCommodityMapA" type="com.bx.erp.model.warehousing.WarehousingCommodity">
		<result property="ID" column="F_ID" />
		<result property="warehousingID" column="F_WarehousingID" />
		<result property="commodityID" column="F_CommodityID" />
		<result property="NO" column="F_NO" />
		<result property="packageUnitID" column="F_PackageUnitID" />
		<result property="commodityName" column="F_CommodityName" />
		<result property="barcodeID" column="F_BarcodeID" />
		<result property="price" column="F_Price" />
		<result property="amount" column="F_Amount" />
		<result property="productionDatetime" column="F_ProductionDatetime" />
		<result property="shelfLife" column="F_ShelfLife" />
		<result property="expireDatetime" column="F_ExpireDatetime" />
		<result property="createDatetime" column="F_CreateDatetime" />
		<result property="updateDatetime" column="F_UpdateDatetime" />
		<result property="noSalable" column="F_NOSalable" />
	</resultMap>
	
	<resultMap id="MessageMap" type="com.bx.erp.model.message.Message">
		<id property="ID" column="F_ID" />
		<result property="categoryID" column="F_CategoryID" />
		<result property="isRead" column="F_IsRead" />
		<result property="parameter" column="F_Parameter" />
		<result property="createDatetime" column="F_CreateDatetime" />
		<result property="senderID" column="F_SenderID" />
		<result property="receiverID" column="F_ReceiverID" />
		<result property="updateDatetime" column="F_UpdateDatetime"/>
		<result property="companyID"  column="F_CompanyID"/>
		<result property="status"  column="F_Status"/>
	</resultMap>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{shopID, mode=IN},
		#{providerID, mode=IN},
		#{warehouseID, mode=IN},
		#{staffID, mode=IN},
		#{purchasingOrderID, mode=IN}
		)}
	</select>

	<select id="retrieve1Ex" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap, WarehousingCommodityMapA">
		{CALL SP_Warehousing_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>

	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{providerID, mode=IN},
		#{warehouseID, mode=IN},
		#{staffID, mode=IN},
		#{purchasingOrderID, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="retrieve1OrderID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_Retrieve1OrderID(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{purchasingOrderID, mode=IN}
		)}
	</select>

	<select id="approveEx" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap, WarehousingCommodityMapA, MessageMap">
		{CALL SP_Warehousing_Approve(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		<!-- #{bToApproveStartValue,
		mode=IN}, -->
		#{approverID, mode=IN}
		)}
	</select>

	<select id="retrieveNByFields" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_RetrieveNByFields(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{queryKeyword, mode=IN},
		#{shopID,mode=IN},
		#{staffID,mode=IN},
		#{status, mode=IN},
		#{providerID, mode=IN},
		#{dtStart, mode=IN},
		#{dtEnd, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="delete" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_Delete(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>

	<select id="update" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SP_Warehousing_Update(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{warehouseID, mode=IN},
		#{providerID, mode=IN}
		)}
	</select>
	
	<select id="checkStaffID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_Warehousing_CheckStaffID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkStatus" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_Warehousing_CheckStatus(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkProviderID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_Warehousing_CheckProviderID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkWarehouseID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_Warehousing_CheckWarehouseID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkBarcodesID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_WarehousingCommodity_CheckBarcodesID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkCommodity" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_WarehousingCommodity_CheckCommodity(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkPackageUnitID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_WarehousingCommodity_CheckPackageUnitID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkSalableNO" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_WarehousingCommodity_CheckSalableNO(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkWarehousingID" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_WarehousingCommodity_CheckWarehousingID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkWarehousingCommodity" statementType="CALLABLE" useCache="false" resultMap="WarehousingMap">
		{CALL SPD_Warehousing_CheckWarehousingCommodity(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>

</mapper>