<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.BarcodesMapper">
	<resultMap type="com.bx.erp.model.Barcodes" id="BarcodesMap">
		<id column="F_ID" property="ID" />
		<result column="F_CommodityID" property="commodityID" />
		<result column="F_Barcode" property="barcode" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
	</resultMap>

	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_RetrieveN(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID,jdbcType=INTEGER, mode=IN},
		#{barcode, jdbcType=VARCHAR, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>

	<select id="create" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID, mode=IN},
		#{barcode, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>
	
	<select id="update" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_Update(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{commodityID, mode=IN},
		#{barcode, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>

	<select id="delete" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_Delete(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>
	
	<select id="deleteBySimpleCommodityID" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_DeleteBySimpleCommodityID(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>
	
	<select id="deleteByCombinationCommodityID" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_DeleteByCombinationCommodityID(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>
	
	<select id="deleteByMultiPackagingCommodityID" statementType="CALLABLE" useCache="false" resultMap="BarcodesMap">
		{CALL SP_Barcodes_DeleteByMultiPackagingCommodityID(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{commodityID, mode=IN},
		#{operatorStaffID, mode=IN} <!-- staffID -->
		)}
	</select>
</mapper>
