<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.RetailTradeMapper">
	<resultMap id="RetailTradeMap" type="com.bx.erp.model.RetailTrade">
		<result property="ID" column="F_ID" />
		<result property="vipID" column="F_VipID" />
		<result property="sn" column="F_SN" />
		<result property="localSN" column="F_LocalSN" />
		<result property="pos_ID" column="F_POS_ID" />
		<result property="logo" column="F_Logo" />
		<result property="saleDatetime" column="F_SaleDatetime" />
		<result property="staffID" column="F_StaffID" />
		<result property="paymentType" column="F_PaymentType" />
		<result property="paymentAccount" column="F_PaymentAccount" />
		<result property="status" column="F_Status" />
		<result property="remark" column="F_Remark" />
		<result property="sourceID" column="F_SourceID" />
		<result property="syncDatetime" column="F_SyncDatetime" />
		<result property="amount" column="F_Amount" />
		<result property="amountCash" column="F_AmountCash" />
		<result property="amountAlipay" column="F_AmountAlipay" />
		<result property="amountWeChat" column="F_AmountWeChat" />
		<result property="amount1" column="F_Amount1" />
		<result property="amount2" column="F_Amount2" />
		<result property="amount3" column="F_Amount3" />
		<result property="amount4" column="F_Amount4" />
		<result property="amount5" column="F_Amount5" />
		<result property="smallSheetID" column="F_SmallSheetID" />
		<result property="aliPayOrderSN" column="F_AliPayOrderSN" />
		<result property="wxOrderSN" column="F_WxOrderSN" />
		<result property="wxTradeNO" column="F_WxTradeNO" />
		<result property="wxRefundNO" column="F_WxRefundNO" />
		<result property="wxRefundDesc" column="F_WxRefundDesc" />
		<result property="wxRefundSubMchID" column="F_WxRefundSubMchID" />
		<result property="datetimeStart" column="datetimeStart" />
		<result property="datetimeEnd" column="datetimeEnd" />
		<result property="bRequestFromApp" column="bRequestFromApp" />
		<result property="consumerOpenID" column="F_ConsumerOpenID" />
		<result property="shopID" column="F_ShopID" />
	</resultMap>
	
	<resultMap id="VipMap" type="com.bx.erp.model.Vip">
		<result property="ID" column="F_ID" />
		<result property="sn" column="F_SN" />
		<result property="cardID" column="F_CardID" />
		<result property="mobile" column="F_Mobile" />
		<result property="localPosSN" column="F_LocalPosSN" />
		<result property="sex" column="F_Sex" />
		<result property="logo" column="F_Logo" />
		<result property="iCID" column="F_ICID" />
		<result property="name" column="F_Name" />
		<result property="email" column="F_Email" />
		<result property="consumeTimes" column="F_ConsumeTimes" />
		<result property="consumeAmount" column="F_ConsumeAmount" />
		<result property="district" column="F_District" />
		<result property="category" column="F_Category" />
		<result property="status" column="F_Status" />
		<result property="birthday" jdbcType="DATE" column="F_Birthday" />
		<result property="bonus" column="F_Bonus" />
		<result property="lastConsumeDatetime" column="F_LastConsumeDatetime" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
		<result property="remark" column="F_Remark" />
	</resultMap>

	<select id="createEx" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap, VipMap">
		{call SP_RetailTrade_UploadTrade(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{vipID, mode=IN},
		#{localSN, mode=IN},
		#{pos_ID, mode=IN},
		#{logo, mode=IN},
		#{saleDatetime, mode=IN},
		#{staffID, mode=IN},
		#{paymentType, mode=IN},
		#{paymentAccount, mode=IN},
		#{status, mode=IN},
		#{remark, mode=IN},
		#{sourceID, mode=IN},
		#{amount, mode=IN},
		#{amountCash, mode=IN},
		#{amountAlipay, mode=IN},
		#{amountWeChat, mode=IN},
		#{amount1, mode=IN},
		#{amount2, mode=IN},
		#{amount3, mode=IN},
		#{amount4, mode=IN},
		#{amount5, mode=IN},
		#{smallSheetID, mode=IN},
		#{aliPayOrderSN, mode=IN},
		#{wxOrderSN, mode=IN},
		#{wxTradeNO, mode=IN},
		#{wxRefundNO, mode=IN},
		#{wxRefundDesc, mode=IN},
		#{wxRefundSubMchID, mode=IN},
		#{sn, mode=IN},
		#{couponAmount, mode=IN},
		#{consumerOpenID, mode=IN},
		#{shopID, mode=IN}
		)}
	</select>
	
	<select id="retrieveN" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{call SP_RetailTrade_RetrieveOldTrade(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{shopID, mode=IN},
		#{vipID, mode=IN},
		#{bRequestFromApp, mode=IN},
		#{queryKeyword, mode=IN},
		#{localSN, mode=IN},
		#{pos_ID, mode=IN},
		#{datetimeStart, mode=IN},
		#{datetimeEnd, mode=IN},
		#{paymentType,mode=IN},
		#{staffID,mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{excludeReturned, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>
	
	<select id="retrieve1" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{call SP_RetailTrade_Retrieve1(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{ID, mode=IN}
		)}
	</select>
	
	<select id="checkAmount" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckAmount(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkPaymentType" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckPaymentType(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkVipID" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckVipID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkStatus" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckStatus(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkSmallSheetID" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckSmallSheetID(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="checkRetailTradeCommodity" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{CALL SPD_RetailTrade_CheckRetailTradeCommodity(
		#{iErrorCode,jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT}
		)}
	</select>
	
	<select id="retrieveNByCommodityNameInTimeRange" statementType="CALLABLE" useCache="false" resultMap="RetailTradeMap">
		{call SP_RetailTrade_RetrieveNByCommodityNameInTimeRange(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{queryKeyword, mode=IN},
		#{staffID,mode=IN},
		#{paymentType,mode=IN},
		#{datetimeStart, mode=IN},
		#{datetimeEnd, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT},
		#{dRetailAmount, jdbcType=DOUBLE, mode=OUT},
		#{dTotalCommNO, jdbcType=INTEGER, mode=OUT},
		#{dTotalGross, jdbcType=DOUBLE, mode=OUT}
		)}
	</select>
</mapper>