<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.report.ReportSummaryWarehousingMapper">
	<resultMap id="reportSummaryMapperC" type="com.bx.erp.model.report.ReportSummaryWarehousing">
		<result column="iTotalWarehousingNumber" property="totalWarehousingNumber" />
		<result column="sCommodityName" property="commodityName" />
		<result column="fCommodityMaxAmount" property="commodityMaxAmount" />
		<result column="sProviderName" property="providerName" />
		<result column="fProviderMaxAmount" property="providerMaxAmount" />
		<result column="iTotalWarehousingAmount" property="totalWarehousingAmount" />
	</resultMap>
</mapper>