<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.report.RetailTradeDailyReportMapper">
	<resultMap type="com.bx.erp.model.report.RetailTradeDailyReport" id="RetailTradeDailyReport1">
		<result column="topSaleCommodityName" property="topCommodityName" />
		<result property="saleDatetime" column="saleDatetime" />
	</resultMap>
	
	<resultMap type="com.bx.erp.model.report.RetailTradeDailyReportSummary" id="RetailTradeDailyReportSummaryMap1">
		<id column="F_ID" property="ID" />
		<result column="F_ShopID" property="shopID" />
		<result column="F_Datetime" property="dateTime" />
		<result column="F_TotalNO" property="totalNO" />
		<result column="F_PricePurchase" property="pricePurchase" />
		<result column="F_TotalAmount" property="totalAmount" />
		<result column="F_AverageAmountOfCustomer" property="averageAmountOfCustomer" />
		<result column="F_TotalGross" property="totalGross" />
		<result column="F_RatioGrossMargin" property="ratioGrossMargin" />
		<result column="F_TopSaleCommodityID" property="topSaleCommodityID" />
		<result column="F_TopSaleCommodityNO" property="topSaleCommodityNO" />
		<result column="F_TopSaleCommodityAmount" property="topSaleCommodityAmount" />
		<result column="F_TopPurchaseCustomerName" property="topPurchaseCustomerName" />
		<result column="F_CreateDatetime" property="createDatetime" />
		<result column="F_UpdateDatetime" property="updateDatetime" />
		<result property="saleDatetime" column="saleDatetime" />
	</resultMap>

	<resultMap type="com.bx.erp.model.report.RetailTradeDailyReportByCommodity" id="RetailTradeDailyReportByCommodityMap1" >
		<id property="ID" column="F_ID" />
		<result column="F_ShopID" property="shopID" />
		<result property="datetime" column="F_Datetime"/>
		<result property="commodityID" column="F_CommodityID"/>
		<result property="totalPurchasingAmount" column="F_TotalPurchasingAmount"/>
		<result property="NO" column="F_NO"/>
		<result property="totalAmount" column="F_TotalAmount"/>
		<result property="grossMargin" column="F_GrossMargin"/>
		<result property="createDatetime" column="F_CreateDatetime" />
		<result property="updateDatetime" column="F_UpdateDatetime" />
		<result property="saleDatetime" column="saleDatetime" />
	</resultMap>

	<select id="createEx" statementType="CALLABLE" useCache="false" resultMap="RetailTradeDailyReport1,RetailTradeDailyReportSummaryMap1,RetailTradeDailyReportByCommodityMap1">
		{CALL SP_RetailTradeDailyReport_Create(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{shopID, mode=IN},
		#{saleDatetime, mode=IN},
		#{deleteOldData, mode=IN} <!-- 1，删除旧的数据。只能在测试代码中使用。0，不删除旧的数据。只能在功能代码中使用。 -->
		)}
	</select>
</mapper>