<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.erp.dao.report.WarehousingReportMapper">
	<resultMap id="reportMapper" type="com.bx.erp.model.report.WarehousingReport">
		<id property="ID" column="F_ID" />
		<result column="F_Name" property="name" />
		<result column="F_Barcode" property="barcode" />
		<result column="F_Specification" property="specification" />
		<result column="F_ProviderName" property="providerName" />
		<result column="F_PackageUnitName" property="packageUnitName" />
		<result column="F_NO" property="NO" />
		<result column="F_Price" property="price" />
		<result column="F_Amount" property="amount" />
		<result column="F_WarehousingDatetime" property="warehousingDatetime" />
	</resultMap>

	<resultMap id="reportSummaryMapperB" type="com.bx.erp.model.report.ReportSummaryWarehousing">
		<result column="iTotalWarehousingNumber" property="totalWarehousingNumber" />
		<result column="sCommodityName" property="commodityName" />
		<result column="fCommodityMaxAmount" property="commodityMaxAmount" />
		<result column="sProviderName" property="providerName" />
		<result column="fProviderMaxAmount" property="providerMaxAmount" />
		<result column="iTotalWarehousingAmount" property="totalWarehousingAmount" />
	</resultMap>

	<select id="retrieveNEx" statementType="CALLABLE" useCache="false" resultMap="reportMapper,reportSummaryMapperB">
		{CALL SP_Report_Warehousing(
		#{iErrorCode, jdbcType=INTEGER, mode=OUT},
		#{sErrorMsg, jdbcType=VARCHAR, mode=OUT},
		#{dtStart,mode=IN},
		#{dtEnd,mode=IN},
		#{iOrderBy,mode=IN},
		#{isASC,mode=IN},
		#{queryKeyword, mode=IN},
		#{bIgnoreZeroNO, mode=IN},
		#{iCategoryID, mode=IN},
		#{iPageIndex, mode=IN},
		#{iPageSize, mode=IN},
		#{iTotalRecord, jdbcType=INTEGER, mode=OUT}
		)}
	</select>

</mapper>