/*
重置基础资料按钮的默认、悬停、点击样式
*/
#sync_base_dataButton{
   -fx-background-color:#2196F3;
   -fx-border-color: #2196F3;
}
#sync_base_dataButton:hover{
    -fx-background-color:#64B5F6;
    -fx-border-color: #64B5F6;
}
#sync_base_dataButton:pressed{
    -fx-background-color: #1976D2;
     -fx-border-color: #1976D2;
}

