@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"),
       url("../font/SourceHanSansCN-Regular.woff") format("woff"),
       url("../font/SourceHanSansCN-Regular.ttf") format("truetype"),
       url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("../font/SourceHanSansCN-Regular.svg") format("svg");
}
body{
	font-family: "SourceHanSansCN-Regular";
}

#couponMain{
	margin: 0 20px;
	min-width: 1450px;
}
/* 共用的样式 */
#couponMain button{
	color: #fff;
	background-color: #2196F3;
}
.layui-form-select dl dd.layui-this{
	background-color: #2196F3;
}
.layui-disabled, .layui-disabled:hover{
	color: #000!important;
}
.toChooseTime .layui-form-checked span{
	background-color: #2196F3!important;
}
body .layui-laydate .layui-this{
	background-color: #2196F3!important;
}
/* 提示区域 */
#couponMain .tipArea{
	margin-top: 20px;
}
#couponMain .tipArea .layui-elem-quote{
	border-left-color: #2196F3;
}
#couponMain .tipArea .layui-elem-quote i{
	color: #2196F3;
}
/* 优惠券列表表格 */
#couponMain .couponList{
	display: inline-block;
	width: 60%;
	vertical-align: top;
}
/* #couponMain .couponList .queryByKeyword input{ */
/* 	display: inline-block; */
/* 	width: 28%; */
/* 	vertical-align: middle; */
/* } */
/* #couponMain .couponList .queryByKeyword i{ */
/* 	font-size: 20px; */
/* 	vertical-align: middle; */
/* } */
#couponMain .couponList thead tr{
	background-color: #2196F3;
	color: #fff;
}
#couponMain .couponList .layui-laypage-em{
	background-color: #2196F3;
}
#couponMain .couponList .layui-laypage-limits{
	display: none;
}
#couponMain .couponList button{
	float: left;
}
#couponMain .couponList .layui-table-click{
	background-color: transparent;
}
#couponMain .couponList .trBeChoosed{
	background-color: #E3F2FD;
}
/* 优惠券详情区域 */
#couponMain .couponDetail{
	display: inline-block;
	width: 560px;
	height: 62%;
	vertical-align: top;
}
#couponTable{
	margin-top: 30px;
	width: 100%;
}
#couponMain .couponDetail strong{
	color: red;
	margin-right: 3px;
}
.layui-input{
	height: 28px !important;
	/* width: 192px !important; */
}
#couponMain .couponDetail .layui-input{
	display: inline-block;
	width: 60%;
	margin-right: 10px;
}
#couponMain .couponDetail .layui-textarea{
	width: 80%;
	resize: none;
}
#couponMain .couponDetail .layui-form-select{
	width: 26%;
}
#couponMain .couponDetail .layui-form-select .layui-input{
	width: 100%;
}
#couponMain .couponDetail .layui-input-inline{
	width: 170px;
}
#couponMain .couponDetail .layui-input-inline .layui-input{
	width: 100%;
}
#couponMain .couponDetail .layui-form-radio>i:hover, #couponMain .couponDetail .layui-form-radioed>i{
	color: #2196F3;
}
#couponMain .couponDetail .layui-form-checked span, #couponMain .couponDetail .layui-form-checked:hover span{
	background-color: #2196F3;
}
#couponMain .couponDetail .layui-form-checked i, #couponMain .couponDetail .layui-form-checked:hover i{
	color: #2196F3;
}
#couponMain .couponDetail .couponColor{
	display: none;
	width: 26px;
	height: 26px;
	padding: 5px;
	border: 1px solid #e6e6e6;
}
#couponMain .couponDetail .couponColor span{
	display: block;
	width: 26px;
	height: 26px;
	background-color: #888;
}
#couponMain .couponDetail .form_tips{
	color: #9a9a9a;
	line-height: 26px;
}
#couponMain .couponDetail .form_msg{
	display: none;
	color: red;
	line-height: 26px;
}
#couponMain .couponDetail .toChooseTime{
	display: none;
}
#couponMain .couponDetail .toChooseTime .detailTime{
	margin-top: 10px;
}
#couponMain .couponDetail .toChooseTime .detailTime span{
	line-height: 38px;
}
#beginDateTime + input, #endDateTime + input{
	diaplay: none;
}
#couponMain .couponDetail .toChooseTime .detailTime .layui-input-inline{
	width: 100px;
}
#couponMain .couponDetail .layui-input-block .layui-table{
	display: none;
	width: 400px;
	table-layout: fixed;
}
#couponMain .couponDetail .layui-input-block .layui-table th{
	color: #fff;
	text-align: center;
	background-color: #2196F3;
}
#couponMain .couponDetail .layui-input-block .layui-table td{
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#couponMain .couponDetail .layui-input-block .layui-table tr .addCommodity{
	color: #2196F3;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 0;
}
#couponMain .couponDetail .layui-input-block .layui-table tr .deleteCommodity{
	display: none;
	color: red;
	cursor: pointer;
}
#couponMain .couponDetail .layui-input-block .layui-table tr:hover span{
	display: none;
}
#couponMain .couponDetail .layui-input-block .layui-table tr:hover .deleteCommodity{
	display: block;
}
#couponMain .couponDetail .layui-form-item .createCoupon{
	display: none;
}
#couponMain .couponDetail .layui-form-item:last-child{
	text-align: center;
}
/* 商品弹窗 */
.layui-layer-page .layui-layer-title{
	display: none;
}
#toChooseComm thead tr{
	background-color: #2196F3;
	color: #fff;
}
#toChooseComm .layui-table-page .layui-laypage .layui-laypage-limits{
	display: none;
}
.theDatetime{
	margin-left: 120px;
}